.Container-MenuNavigation{
    background: rgba(0, 0, 0, .4);
    height: 100%;
    width: 100%;
    left: -100%;
    transition: left .2s ease-in-out;
    position: absolute;
    z-index: 2;
}
.Container-MenuNavigation ul{
    padding:0px;
    width: 80px;
    height: 100%;
    margin: 0px;
    background: var(--bg-primary);
}
.Container-MenuNavigation ul li{
    text-decoration: none;
    list-style: none;
}
.Container-MenuNavigation ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color:#fff;
    text-decoration: none;
}

@media(min-width:1000px){
    .Container-MenuNavigation,
    .Container-MenuNavigation ul{
        width: 65px;
        left: 0%;
    }
}