body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f6f6f6;
}
main{
    position: relative;
    min-height: 100vh;
}
:root{
    --bg-primary:#5271ff;
    --bg-secundary:#606060;
    --bg-danger:#dc3545;
}
.bg-primary{
    background: var(--bg-primary);
}
.bg-danger{
    background: var(--bg-danger);
}
button.bg-danger:hover{
    background:#c42e3d !important;
}
h1,h2,h3,h4,h5,h6,label,p{
    margin:0px;
}
.p-datatable table{
    width: 100% !important;
    table-layout:auto !important;
}